<div class="container">
  <h2>Your question</h2>
  <%= @question %>
</div>

<div class="container">
  <h2>The coach's answer</h2>
  <%= @answer %>
</div>

<div class="link">
  <%= link_to "Ask a new question", question_path %>
</div>
