<form action="/answer" method="get" class="coach-form">
  <div class="question-div">
    <label for="exampleFormControlInput1" class="form-label">Ask your question to the coach</label>
    <input type="text" class="form-control" name="question" value="<%= params[:question] %>" placeholder="Your question">
    <input type="submit" class="btn btn-primary">
  </div>
</form>
